* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0a0001 url("../img/bg/background.jpg") 52% 50% / cover;
}

.app {
  padding: 2em;
  --gutter: 2em;
  --sail: max(var(--gutter), env(safe-area-inset-left));
  --sair: max(var(--gutter), env(safe-area-inset-right));
}

@supports (padding: max(0px)) and (padding: env(safe-area-inset-left)) {
  .app {
    padding: env(safe-area-inset-top) var(--sair) env(safe-area-inset-bottom)
      var(--sail);
  }
}

.container {
  color: #333;
  text-align: center;
  padding: 2rem 0;
}

h1 {
  font-weight: normal;
  font-weight: 700;
  line-height: 1.125;
}

ul {
  display: grid;
}

li {
  --i: var(--isDays, 0);
  grid-area: 1 / 1;
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  transition: 0.25s;
  opacity: calc(var(--i) * 1);
  user-select: none;
  width: fit-content;
  margin: 0 auto;
  line-height: 1.1;
  will-change: opacity;
}

li:nth-of-type(2) {
  opacity: calc((1 - var(--i)) * 1);
}

li span {
  display: block;
  font-size: 4.5rem;
  transition: 0.25s;
  font-weight: 900;
  will-change: transform;
  transform-origin: 50% 20%;
  transform: scaleY(calc(var(--i) * 1));
}

li:nth-of-type(2) span {
  transform-origin: 50% 80%;
  transform: scaleY(calc((1 - var(--i)) * 1));
}

button {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "pnum";
  box-sizing: border-box;
  margin: 0;
  touch-action: manipulation;
  -webkit-appearance: none;
  font: inherit;
  line-height: inherit;
  padding: 0.75em 1em;
  position: relative;
  width: 10rem;
  margin-top: 2rem;
  outline: none;
  border: 2px solid #f35401;
  color: #f35401;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  background: #fff8dc88;
  box-shadow: 0 0 15px 5px #fff8dccc;
}

button:after {
  content: " " attr(data-toggle);
}

html,
body,
.app {
  height: 100%;
  margin: 0;
  min-height: calc(100% + env(safe-area-inset-top));
}

.app {
  align-items: center;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container {
  margin: 0 auto;
}
